<div id="footer">
    <div class="">
        <p>
            <img style="height:40px;width:40px"
                 src="http://upload-images.jianshu.io/upload_images/3229842-02671ca7e4a347f2.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
            2017 If you have any problem of running DMPred web server, please contact

            <a href="mailto:xuanpinghdu@126.com" data-toggle="tooltip" title=""
               data-original-title="xuanpinghdu@126.com">Ping Xuan</a> or
            <a href="mailto:xuanpinghdu@126.com" data-toggle="tooltip" title=""
               data-original-title="xuanpinghdu@126.com"> Yingli Zhong</a>.
        </p>
    </div>
</div>