<header class="am-topbar">
    <div style="font-size: 20px" class="am-topbar-brand">
        <span style="color:#4285f4">D</span><span style="color: #ea4335">M</span><span
            style="color: #34a853">Pred</span>
    </div>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav " style="margin-left: 11%;">
            <li id="home"><a href="/">Home</a></li>
            <li id="prediction"><a href="prediction">Prediction</a></li>
            <li id="analysis"><a href="analysis">Analysis</a></li>
            <li id="downloads"><a href="downloads">Downloads</a></li>
        </ul>

    </div>
</header>