<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>FamCluRank</title>
    <meta name="keywords" content="microRNA, cancer, expression"/>
    <meta name="description"
          content="A method for identifying disease-related microRNAs in the heterogeneous network with node attributes"/>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/picswitch.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/script/default.js"></script>
    <script type="text/javascript" src="/static/script/picswitch.js"></script>
</head>
<body>
<div id="header">
    <div id="menu">
        <ul>
            <li class="current_page_item"><a href="/famclurank_index">Home</a></li>
            <li><a href="/famclurank_prediction">Prediction</a></li>
            <li><a href="/famclurank_download">Download</a></li>


        </ul>
    </div>
</div>
<div id="logo">
    <h1><a href="index.html"><span style="color:#4E9ECC ">FamClu</span><span style="color:#92EFA5">Rank</span></a></h1><h2>A method for identifying disease-related microRNAs in the heterogeneous network with node attributes</h2>
</div>
<div id="page">
    <div id="content">
        <div class="post">
            <h1 class="title" style="font-size: 28px">Welcome to FamCluRank</h1>
            <div class="entry">
                <p style="text-align:justify;width:55%;display:inline-block"><font size="4">
                    Identification of disease related miRNAs (disease miRNAs) is an essential step towards discovering
                    causal miRNAs and understanding disease pathogenesis. For a specific disease, FamCluRank can provide
                    reliable candidate disease miRNAs which are worth further functional analysis in disease studies.
                    <br>
                    FamCluRank provides the candidate disease miRNAs for 329 diseases that include the
                    well-characterized ones and the new ones. For a query disease d, FamCluRank lists its top 100
                    candidates, their ranks and association scores. The known d-related miRNAs are also demonstrated
                    along with its candidates.
                </font></p>
                <div style="width:40%;height:100px;float:right;display:inline-block;padding-top: 7px">
                    <script type="text/javascript"
                            src="//rf.revolvermaps.com/0/0/7.js?i=5ar4prds1o6&amp;m=1&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0&amp;ds=70"
                            async="async"></script>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div id="footer-wrap">
        <p id="legal">
            <img style="height:30px;width:30px;vertical-align: middle;"
                 src="http://upload-images.jianshu.io/upload_images/3229842-784916dee47794ce.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
            If you have any problem of running FamCluRank web server, please contact

            <a href="mailto:xuanpinghdu@126.com" data-toggle="tooltip" title=""
               data-original-title="xuanpinghdu@126.com">Ping Xuan</a> or
            <a href="mailto:xuanpinghdu@126.com" data-toggle="tooltip" title=""
               data-original-title="xuanpinghdu@126.com">Tiangang Zhang</a>.</p>
    </div>
</div>
</body>
</html>
