<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">   
 <title>Home</title>
</head>
<body>

<% include include/index-top.html %>
<div>
    <div style="font-size: 30px;text-align: center;margin-top: 50px">
        <span>
            <span style="color: #4285f4 ">D</span><span style="color: #ea4335">M</span><span
                style="color: #34a853">Pred</span>
        </span>
        &mdash;
        <span style="color:#4285f4 ">Disease-related</span>
        <span style="color: #ea4335">MiRNAs</span>
        <span style="color: #34a853">Prediction</span>
    </div>
    <div style="width:80%;margin-top: 80px;text-align: center;margin-left: 10%">
        <div style="width:50%;display:inline-block">
            <p class="lead" style="text-align:justify;color: #000000">
                Identification of disease-related miRNAs (disease miRNAs) is critical for understanding disease etiology and pathogenesis.
               <br/>
First, DMPred can predict the disease miRNAs for more than 300 diseases and demonstrate them and their association scores.

                <br/>
Second, for a specific disease<i> d</i>, all the experimentally validated<i> d</i>-related miRNAs are also listed and they are labeled with 'known'.
               
                <br/>
Third, it provides the service of visualizing the associations between the multiple miRNAs and a specific disease with web Cytoscape.               
                <br/>
            </p>
        </div>

        <div style="width:40%;float:right;display:inline-block;padding-top: 7px">
            <div align="center">
                <div style="display:inline-block;width:460px;">
                    <script type="text/javascript"
                            src="//rf.revolvermaps.com/0/0/7.js?i=5ar4prds1o6&amp;m=1&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0&amp;ds=70"
                            async="async"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<% include include/index-bottom.html %>
</body>
<script>
    $("#home").addClass("am-active");

</script>
</html>












